body{
  font:14px/1.8em "microsoft yahei", arial;
  background:rgba(255,240,210,.8);
}
a:hover{
  text-decoration: none;
}
li{list-style: none;}
.q:before,.q:after{
  content: '';
  display: block;
  clear:both;
}
.borads{
  border-radius: 3px;
  background:rgba(255,255,255,1);
}
@media (max-width: 768px){
  .borads{
    border-radius:0;
  }
}


/* public-start */
header{
  background:#BC9947;
  min-width: 1100px;
  margin-bottom: 20px;
}
header .logo{
  width: 200px;
  opacity: .1;
  padding:10px;
  vertical-align: middle;
}
header nav{
  display: inline-block;
  vertical-align: middle;
}
header nav ul li{
  float: left;
}
header nav ul li a{
  display: block;
  padding:10px 20px;
  font-size: 20px;
  color:#fff;
  text-shadow:2px 2px 4px rgba(0,0,0,.6);
}
header nav ul li a:hover{
  color:#f90;
}
@media (max-width: 768px){
  header{
    min-width: auto;
    text-align: center;
  }
}
/* public-end */