/*font-icon-start*/
.icon-24h:before {
  content: "\e001";
}
.icon-account:before {
  content: "\e002";
}
.icon-affixation:before {
  content: "\e003";
}
.icon-back:before {
  content: "\e004";
}
.icon-backtop:before {
  content: "\e005";
}
.icon-branches:before {
  content: "\e006";
}
.icon-briefcase:before {
  content: "\e007";
}
.icon-card:before {
  content: "\e008";
}
.icon-certification:before {
  content: "\e009";
}
.icon-change:before {
  content: "\e00a";
}
.icon-chat:before {
  content: "\e00b";
}
.icon-company:before {
  content: "\e00c";
}
.icon-contract:before {
  content: "\e00d";
}
.icon-devil:before {
  content: "\e00e";
}
.icon-dissatisfied:before {
  content: "\e00f";
}
.icon-doctor:before {
  content: "\e010";
}
.icon-downarrow:before {
  content: "\e011";
}
.icon-dropout:before {
  content: "\e012";
}
.icon-export:before {
  content: "\e013";
}
.icon-eye:before {
  content: "\e014";
}
.icon-eyes:before {
  content: "\e015";
}
.icon-favorite-cancel:before {
  content: "\e016";
}
.icon-favorite:before {
  content: "\e017";
}
.icon-flame:before {
  content: "\e018";
}
.icon-fold:before {
  content: "\e019";
}
.icon-forwarding:before {
  content: "\e01a";
}
.icon-freeaccount:before {
  content: "\e01b";
}
.icon-inttention:before {
  content: "\e01c";
}
.icon-language:before {
  content: "\e01d";
}
.icon-list:before {
  content: "\e01e";
}
.icon-mail:before {
  content: "\e01f";
}
.icon-mark:before {
  content: "\e020";
}
.icon-message-fill:before {
  content: "\e021";
}
.icon-message-read:before {
  content: "\e022";
}
.icon-message:before {
  content: "\e023";
}
.icon-phone:before {
  content: "\e024";
}
.icon-print:before {
  content: "\e025";
}
.icon-project:before {
  content: "\e026";
}
.icon-prompt-close:before {
  content: "\e027";
}
.icon-prompt-correct:before {
  content: "\e028";
}
.icon-prompt-failure:before {
  content: "\e029";
}
.icon-prompt-question:before {
  content: "\e02a";
}
.icon-prompt-warning:before {
  content: "\e02b";
}
.icon-qrcode:before {
  content: "\e02c";
}
.icon-relation-cancel:before {
  content: "\e02d";
}
.icon-relation:before {
  content: "\e02e";
}
.icon-report:before {
  content: "\e02f";
}
.icon-resources:before {
  content: "\e030";
}
.icon-resume-buy:before {
  content: "\e031";
}
.icon-right:before {
  content: "\e032";
}
.icon-satisfied:before {
  content: "\e033";
}
.icon-save:before {
  content: "\e034";
}
.icon-self:before {
  content: "\e035";
}
.icon-service:before {
  content: "\e036";
}
.icon-setting:before {
  content: "\e037";
}
.icon-similar:before {
  content: "\e038";
}
.icon-skill:before {
  content: "\e039";
}
.icon-subaccount:before {
  content: "\e03a";
}
.icon-suggset-company:before {
  content: "\e03b";
}
.icon-suggset-major:before {
  content: "\e03c";
}
.icon-suggset-resume:before {
  content: "\e03d";
}
.icon-suggset-school:before {
  content: "\e03e";
}
.icon-time:before {
  content: "\e03f";
}
.icon-trash:before {
  content: "\e040";
}
.icon-uparrow:before {
  content: "\e041";
}
.icon-user:before {
  content: "\e042";
}
.icon-waiting:before {
  content: "\e043";
}
/*font-icon-end*/