body{
  color:red;
  font-size: 20px;
  padding:20px;
  background:url(img/7eaa2213.line.png) center center no-repeat;
}
#header{
  height: 300px;
  background:url(img/13b1a0a1.0.gif) center center no-repeat;
}